#about {
  margin-top: 40px;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*media query de tablet*/
  @include tablet {
    margin-top: 37px;
  }
  /*media query de computador*/
  @include computer {
    margin-top: 80px;
  }

  & h2 {
    text-align: center;
    color: #000;
    width: 80%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 70px;
    margin-bottom: 5rem;
    & img {
      object-fit: cover;
      height: 280px;
      width: 240px;
      border-radius: 2rem;
      border: hidden;
    }
  }
  .powered {
    text-align: center;
    width: 100%;
    margin-bottom: 5rem;
    & p {
      font-weight: 600;
    }

    & .imagenes {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      & figure img {
        width: 90px;

        &:hover {
          transition: 500ms;
          border-radius: 10px;
          box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
          -webkit-box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
          -moz-box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
        }
      }
    }
  }

  .skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    & #frontSkills {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      //Barra de responsive
      & .responsive {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 85%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      //Barra de apis
      & .api {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 70%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      //Barra de git
      & .git {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 75%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      //Barra de css
      & .css {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 80%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      //Barra de react
      & .react {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 75%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      /*media query de tablet*/
      @include tablet {
        width: 50%;
      }

      /*media query de computador*/
      @include computer {
        width: 50%;
      }
    }

    & .softSkills {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      /*Estilos de barra CSS*/
      & .teamwork {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 85%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      // Estilos de barra communication
      & .communication {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 80%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      // Estilos de barra problem
      & .problem {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 75%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      /*Estilos de barra learning*/
      & .learning {
        padding-bottom: 2rem;
        .contenedor {
          width: 280px;
          height: 15px;
          background-color: #d6cdcd;
          border-radius: 10px;
          & .valor {
            width: 85%;
            height: 100%;
            border-radius: 10px;
            background-color: #114a64;
            &:hover {
              transition: 500ms;
              background-color: #d4a855;
            }
          }
        }
      }

      /*media query de tablet*/
      @include tablet {
        width: 50%;
      }

      /*media query de computador*/
      @include computer {
        width: 50%;
      }
    }
    /*media query de tablet*/
    @include tablet {
      justify-content: space-around;
    }

    /*media query de computador*/
    @include computer {
      justify-content: space-around;
    }
  }

  .experience{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & button {
      border-radius: 2rem;
      border: transparent;
      cursor: pointer;
    }
  }
}
