#about {
  margin-top: 40px;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*media query de tablet*/
  @include tablet {
    margin-top: 37px;
  }
  /*media query de computador*/
  @include computer {
    margin-top: 80px;
  }

  & h2 {
    color: #000;
    width: 40%;
  }

  .intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    & img {
      height: 300px;
      border-radius: 50px;
      &:hover {
        transition: 500ms;
        box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
        -webkit-box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
        -moz-box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
      }
    }
  }
  .powered {
    text-align: center;
    width: 90%;

    & p {
      font-weight: 600;
    }

    & .imagenes {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      & figure img {
        width: 90px;

        &:hover {
          transition: 500ms;
          border-radius: 10px;
          box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
          -webkit-box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
          -moz-box-shadow: 0px 0px 5px 6px rgba(156, 148, 148, 0.36);
        }
      }
    }
  }

  .skills {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;

    /*media query de tablet*/
    @include tablet {
      justify-content: space-around;
    }

    /*media query de computador*/
    @include computer {
      justify-content: space-around;
    }
  }
}
