#contact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: #d4a855;
  margin-top: 40px;
  @include tablet {
    justify-content: space-evenly;
  }
  @include computer {
    justify-content: space-evenly;
  }
}

#links {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;

  & img {
    height: 100px;
    padding: 2px;
    &:hover {
      transition: 500ms;
      border-radius: 50%;
      background-color: #114a64 /* #d4a855 */;
    }
  }
}
