.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  background-color: #114a64 /* #d4a855 */;

  @include tablet {
    justify-content: center;
    gap: 20px;
  }

  @include computer {
    justify-content: space-evenly;
    gap: 20px;
  }

  & img {
    height: 100px;
    &:hover {
      transition: 500ms;
      border-radius: 50%;
      background-color: #d4a855;
    }
  }
}
