#home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  position: fixed;
  width: 100vw;
  height: 10%;
  top: 0;
  padding-top: 15px;
  background-color: #114a64;

  & ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    /*media query de computador*/
    @include computer {
      justify-content: center;
      gap: 100px;
    }
  }

  & a {
    padding: 10px;
    text-decoration: none;
    color: #f5deb3;

    &:hover {
      transition: 500ms;
      background-color: #d4a855;
      border-radius: 20px;
      color: black;
    }
  }
}
